.navBar{
    font-size: 22px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
} 

.navLinkColor{
    color: white;
}

.navLinks{
    width: 100%;
}
.navLinks ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: 2%;
    
}
.navLinks li{
   margin: 0 50px;
   
}
.navLinksColor a:hover{
    color: rgb(235, 55, 85);
 }

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}
.navLogo {
    margin-left: 50px;
}
