.portfolioBox {
    width: 80vw ;
    height: 70vh; 
    margin: auto;
    background-color: whitesmoke;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}
.portfolioItem{
    margin: 0 15px;
    width: 100%;
}
.portfolioItem h2{
    cursor: pointer;
}
.portfolioItem img{
    width: 70%;
    height: 40%;
    cursor: pointer;   
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(112, 111, 111);
}
.imgTitle{
    margin-bottom:20px ;
}

