*{
    margin: 0;
    box-sizing: border-box;
    
}
html{
    background-image: url(https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

main{
    text-align: center;
    margin-top: 7rem;
}
